#body{
	color: #212121;
}
#body h1{
	text-align: center;
	font-size: 24px;
	color: #655e5e;
}

#body h2{
	font-weight: 300;
    font-size: 18px;
}

#body h6{
	margin: 0;
    font-size: 15px;
    margin-bottom: 5px;
}

#body blockquote{
	padding: 15px;
    margin: 10px;
    border-radius: 2px;
    background-color: #eee;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	margin-top: 10px;
}

.card-header{
	padding: 10px;
	width: calc(100% - 20px);
	background-color: #eee;
}

.card-header h3{
	margin: 0;
	text-transform: uppercase;
}

.card-body{
	padding: 10px;
	width: calc(100% - 20px);
}

.card-body p{
	margin-top: 0;
}

.person-champs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.person-champs div{
	width: 60px;
	height: 60px;
	margin-right: 10px;
	position: relative;
}

.person-champs img{
	width: 100%;
	border-radius: 50%;
}

.person-champs span{
	position: absolute;
	padding: 5px;
	top: -30px;
	left: 10px;
	color: white;
	font-size: 12px;
	background-color: #212121;
	border-radius: 5px;
	display: none;
}

.person-champs div:hover span{
	display: block;
}

#body a{
	color: #80A8F8 !important;
	font-weight: bold;
}

iframe{
	width: 100%;
    min-height: 400px;
    border: none;
}

.input{
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.input input,textarea{
	width: calc(100% - 20px);
	padding: 10px;
	border: none;
	font-size: 13px;
}

.input input:focus, textarea:focus{
	outline: none !important;
}

.input-bar{
	width: 100%;
	height: 2px;
	background-color: #eee;
}

.input-bar span{
	height: 100%;
	background-color: #80a8f8;
	width: 0;
	display: block;
}