#themes{
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(100% - 10px);
	padding: 5px;
	background-color: #212121;
	display: flex;
	flex-wrap: nowrap;
	z-index: 3;
}

#themes span{
	color: white;
	font-size: 10px;
	margin-right: 10px;
}

#sponsor{
	position: fixed;
    padding: 10px;
    right: 5px;
    bottom: 25px;
    z-index: 3;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 20px;
    background-color: #80a9f9;
}

#sponsor img{
	height: 20px;
	margin-right: 5px;
}

#sponsor span{
}

#sponsor a{
	font-weight: bold;
    color: #eee;
}