{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block body %}
<!--
home events people contact twitch
-->
<h1><code>/ALL</code> CONTACT US</h1>
<h2>Email questions about the club, memberships, or events to <a href="/">lol-club-officers@mit.edu</a>.</h2>

<p>Add yourself to the mailing list <a href="/">lol-club</a> for event information and discussion.<br/>
Add yourself to <a href="/">lol-scrims</a> to organize matches with other teams in the club.<br/>
Add yourself to <a href="/">lol-free-agents</a> if you are interested in becoming part of a team.</p>

<h2>Or send us a message</h2>
<form>
	<div class="input"><input placeholder="Name"></div>
	<div class="input"><input placeholder="Email"></div>
	<div class="input"><textarea placeholder="Your Comment"></textarea></div>
</form>
<div class="btn"><span><i class="fa fa-send"></i>SEND</span></div>

<script src="js/input.js"></script>
{% endblock %}