{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block body %}
<!--
home events people contact twitch
-->
<h1><code>/ALL</code> CONTACT US</h1>
<h2>Email questions about the club, memberships, or events to <a href="/">lol-club-officers@mit.edu</a>.</h2>

<p>Add yourself to the mailing list <a href="/">lol-club</a> for event information and discussion.<br/>
Add yourself to <a href="/">lol-scrims</a> to organize matches with other teams in the club.<br/>
Add yourself to <a href="/">lol-free-agents</a> if you are interested in becoming part of a team.</p>
{% endblock %}