{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block body %}
<!--
home events people contact twitch
-->
<h1>CARRY. DOMINATE. HAVE FUN!</h1>
<h2>A place where MIT League of Legends players can gather whether they are new or experienced, competitive or casual. We make it easier for members to connect with each other, including forming teams and organizing tournaments.</h2>

<div class="card shadow">
	<div class="card-header">
		<h3>Recent Updates</h3>
	</div>
	<div class="card-body">
		<h6>Club meetings have started!</h6>
		<p>Meetings are on Saturdays from 7-9pm in room 1-134. If you are interested in joining, email <a href="/">lol-club@mit.edu</a> or fill out the form <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5fs5ScWzJ3VbxrEWro1eZcKNG973hNFQzrrNo1WzDpVg2xA/viewform">here</a>.</p>

		<h6>Tournament signups are live</h6>
		<p>Sign up for this semester's tournament <a href="https://owa.exchange.mit.edu/owa/redir.aspx?SURL=eCo7fnOI8O2VMZ9dq_vIg2_Bxa_FveERbOadlioOGZCT3EpAhd_TCGgAdAB0AHAAcwA6AC8ALwBkAG8AYwBzAC4AZwBvAG8AZwBsAGUALgBjAG8AbQAvAHMAcAByAGUAYQBkAHMAaABlAGUAdABzAC8AZAAvADEAcABkAE8ASwBYAEMAaQAxAEoANQB1AEQAdABUAEMAYgBOADgAOQB0ADEAUABQAHIARgBCAGUAaABaAG4AaABtAFAAeABpAC0AcgA4AGoASgBSAG0AdwAvAGUAZABpAHQAPwB1AHMAcAA9AHMAaABhAHIAaQBuAGcA&URL=https%3a%2f%2fdocs.google.com%2fspreadsheets%2fd%2f1pdOKXCi1J5uDtTCbN89t1PPrFBehZnhmPxi-r8jJRmw%2fedit%3fusp%3dsharing">here</a>.
	</div>
</div>

<p>For announcements, sign up for our mailing list <a href="https://groups.mit.edu/webmoira/list/lol-club">lol-club</a>, or check out the <a href="/events">events</a> page.</p>

{% endblock %}