<link rel="stylesheet" href="css/navbar.css">
<div id="navbar">
	<div id="header" class="shadow">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" id="svg">
		</svg>
		<img src="img/banner.png">
	</div>
	<span id="mobile" onclick="toggleTabs()">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</span>
	<div id="tabs">
		<div class="tab">
			<a class="shadow" href="/">HOME</a>
		</div>

		<div class="tab">
			<a class="shadow" href="/events">EVENTS</a>
		</div>

		<div class="tab">
			<a class="shadow" href="/contact">CONTACT</a>
		</div>

		<div class="tab">
			<a class="shadow" href="/people">PEOPLE</a>
		</div>

		<div class="tab">
			<a class="shadow" id="twitch" href="http://twitch.tv/mitlolclub"><i class="fa fa-twitch" aria-hidden="true"></i> TWITCH</a>
		</div>
	</div>
</div>

<script src="js/navbar.js"></script>