{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block body %}
<!--
home events people contact twitch
-->
<h1>QUEUE UP</h1>
<h2>We have members of all ranks, so you'll have someone to help you get out of Bronze.</h2>

{% for person in people %}
<div class="card shadow">
	<div class="card-header">
		<h3>{{ person.name }} <span>({{ person.lol }})</span></h3>
	</div>
	<div class="card-body">
		<p><b>Email:</b>{{ person.mit }}@mit.edu</p>
		<div class="person-champs">
		{% for champ in person.champs %}
			<img data-champ="{{ champ }}" class="champ">
		{% endfor %}
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}